body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 42px;
}

button {
    background: #00c853;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
}